{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 order-md-1">
        <h4 class="mb-3 text-center">{{ title }}</h4>
        <div class="col-md-4 mx-auto">
            <h5 class="text-center mb-3">Регистрация</h5>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="d-flex justify-content-center">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                <ul style="list-style-position: inside; margin-bottom: 0; padding-left: 5px;">
                                    <li>{{ field.errors.0 }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Регистрация</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}